/* alert started */
body.rtl .wpsd-wrapper-content{
  direction: rtl;
}
.wpsd-alert {
  padding: 10px !important;
  color: white;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  height: auto;
  font-size: 14px;
  line-height: 18px;
  border-radius: 5px;
  transition: all 0.3s linear;
  margin: 10px 0 20px;
}
.wpsd-alert ul{
  margin-bottom: 0;
  padding: 0;
}
.wpsd-alert ul li {
  margin: 0;
  padding: 0;
  text-align: left;
}

body.rtl .wpsd-alert ul li {
  text-align: right;
}

.wpsd-alert.success {
  background-color: #6ABD6E;
}

.wpsd-alert.error {
  background-color: #F66358;
}

.wpsd-alert.warning {
  background-color: #FFAA2B;
}


/* alert ended */

.wpsd-wrapper-content .dashicons,
.dashicons-before::before {
  font-size: 12px;
  line-height: 46px;
}

.wpsd-master-wrapper {
  margin: 15px 0;
}
.wpsd-master-wrapper .wpsd-wrapper-header {
  background: #000;
  padding: 20px 15px;
  text-align: center;
}

.wpsd-master-wrapper .wpsd-wrapper-header h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
}

img.wpsd-form-banner {
  border: 0px solid #000;
  width: 100%;
  height: auto;
}

.wpsd-master-wrapper .wpsd-wrapper-content {
  text-align: center;
}

.wpsd-wrapper-content .payment-title {
  font-size: 18px;
  font-weight: bold;
}

.wpsd-master-wrapper .wpsd-wrapper-content h2 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #161c2d;
  margin: 0 0 15px;
}

.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-donation-form-label {
  display: block;
  width: 100%;
  padding: 8px 0;
  height: auto;
  margin: 0px;
  font-size: 22px;
  font-weight: bold;
}

.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-text-field,
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-select-field{
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  border-radius: 0;
  display: block;
  font-size: 16px;
  letter-spacing: -0.015em;
  max-width: 100%;
  padding: 15px 18px;
  border: solid 1px #bebdbd;
}
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-text-field::-webkit-input-placeholder,
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-select-field::-webkit-input-placeholder {
  font-style: italic;
}
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-text-field:-moz-placeholder,
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-select-field:-moz-placeholder{
  font-style: italic;
}
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-text-field::-moz-placeholder,
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-select-field::-moz-placeholder {
  font-style: italic;
}
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-text-field:-ms-input-placeholder,
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-select-field:-ms-input-placeholder {
  font-style: italic;
}

.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-select-field{
  border: 1px solid #BBBBBB;
  height: auto;
  outline: none;
  padding: 15px 18px;
  color: #818181;
}
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-select-field option{
  color: black;
}

.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-select-field option:first-child{
  color: #818181;
}


body.rtl .wpsd-master-wrapper .wpsd-wrapper-content .wpsd-text-field {
  direction: rtl;
}

.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-text-field::placeholder {
  color: #798096;
}

.wpsd-master-wrapper .wpsd-wrapper-content #wpsd-donation-form-id #wpsd_donate_other_amount {
  border: 1px solid #808080;
  padding: 12px 18px;
}
.wpsd-master-wrapper .wpsd-wrapper-content #wpsd-donation-form-id #wpsd_donate_other_amount.disabled,
.wpsd-master-wrapper .wpsd-wrapper-content #wpsd-donation-form-id .disabled{
  background: #DCDAD1;
  border: none;
}

.wpsd-master-wrapper .wpsd-wrapper-content .wpsd_is_recurring_con,
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd_in_memory_of_con{
  width: 100%;
  display: block;
  text-align: left;
  padding-left: 0;
  height: auto;
  margin: 0px;
}

body.rtl .wpsd-master-wrapper .wpsd-wrapper-content .wpsd_in_memory_of_con{
  text-align: right;
}
.wpsd_flex_con{
  display: flex;
  flex-wrap: wrap;
}
.wpsd_flex_item{
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
  padding: 5px 5px 5px 0;
}
.w-25{
  width: 25%;
}
.w-50{
  width: 50%;
}
.w-100{
  width: 100%;
}

@media(max-width:767px) {
  .wpsd_flex_item{
      flex: 100%;
  }
}
body.rtl .wpsd-master-wrapper .wpsd-wrapper-content .wpsd_flex_item{
  padding: 0 5px 5px 5px;
}
.wpsd_select_label{
  width: 100%;
  text-align: left;
  padding: 8px 0;
  margin:0;
}
body.rtl .wpsd-master-wrapper .wpsd-wrapper-content .wpsd_select_label{
  text-align: right;
  padding-left: 8px;
  padding-right: 0;
}
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd_donator_country_con select,
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd_state_con select{
  width: 100%;
}
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd_is_recurring_con label,
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd_is_recurring_con input {
  display: inline-block;
}


.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-donate-button {
  width: 100%;
  margin: 0 auto;
  border: none;
  background: #c8c8c8;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  font-weight: 700;
  color: black;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s linear;
  outline: none;
}

.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-donate-button:hover,
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-donate-button:focus,
.wpsd-master-wrapper.wpsd-template-1 .wpsd-wrapper-content .wpsd-donate-button:hover,
.wpsd-master-wrapper.wpsd-template-1 .wpsd-wrapper-content .wpsd-donate-button:focus,
.wpsd-master-wrapper.wpsd-template-2 .wpsd-wrapper-content .wpsd-donate-button:hover,
.wpsd-master-wrapper.wpsd-template-2 .wpsd-wrapper-content .wpsd-donate-button:focus,
.wpsd-master-wrapper.wpsd-template-3 .wpsd-wrapper-content .wpsd-donate-button:hover,
.wpsd-master-wrapper.wpsd-template-3 .wpsd-wrapper-content .wpsd-donate-button:focus,
.wpsd-master-wrapper.wpsd-template-4 .wpsd-wrapper-content .wpsd-donate-button:hover,
.wpsd-master-wrapper.wpsd-template-4 .wpsd-wrapper-content .wpsd-donate-button:focus,
.wpsd-master-wrapper.wpsd-template-5 .wpsd-wrapper-content .wpsd-donate-button:hover,
.wpsd-master-wrapper.wpsd-template-5 .wpsd-wrapper-content .wpsd-donate-button:focus,
.wpsd-master-wrapper.wpsd-template-6 .wpsd-wrapper-content .wpsd-donate-button:hover,
.wpsd-master-wrapper.wpsd-template-6 .wpsd-wrapper-content .wpsd-donate-button:focus {
  background: #a4a4a4;
  text-decoration: none;
}
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-donate-button.disabled:hover{
  cursor: not-allowed;
}
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-total-donation-today {
  margin: 10px 0;
  color: #798096;
  font-size: 12px;
  line-height: 18px;
}

.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-total-donation-today span#wpsd-total-donation-number {
  color: #FF0000;
}


/*=============================
Template 1
===============================*/

.wpsd-master-wrapper.wpsd-template-1 {
  box-shadow: 0 3px 20px #FFC0CB;
}

.wpsd-master-wrapper.wpsd-template-1 .wpsd-wrapper-header {
  background: #FF69B4;
  background: -moz-linear-gradient(top, #FF69B4 0%, #FFC0CB 100%);
  background: -webkit-linear-gradient(top, #FF69B4 0%, #FFC0CB 100%);
  background: linear-gradient(to bottom, #FF69B4 0%, #FFC0CB 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FF69B4', endColorstr='#FFC0CB', GradientType=1);
}

.wpsd-master-wrapper.wpsd-template-1 .wpsd-wrapper-content {
  background: #fefdfa;
}

.wpsd-master-wrapper.wpsd-template-1 .wpsd-wrapper-content .wpsd-donate-button {
  background: #FF69B4;
}

.wpsd-master-wrapper.wpsd-template-1 .wpsd-wrapper-content .wpsd-text-field{
  border-color: #FF69B4;
}

.wpsd-master-wrapper.wpsd-template-1 .wpsd-wrapper-content #wpsd-donation-form-id #wpsd_donate_other_amount {
  border-color: #FF69B4;
}


/*=============================
Template 2
===============================*/

.wpsd-master-wrapper.wpsd-template-2 {
  box-shadow: 0 3px 20px #40E0D0;
}

.wpsd-master-wrapper.wpsd-template-2 .wpsd-wrapper-header {
  background: #008B8B;
  background: -moz-linear-gradient(top, #008B8B 0%, #40E0D0 100%);
  background: -webkit-linear-gradient(top, #008B8B 0%, #40E0D0 100%);
  background: linear-gradient(to bottom, #008B8B 0%, #40E0D0 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#008B8B', endColorstr='#40E0D0', GradientType=1);
}

.wpsd-master-wrapper.wpsd-template-2 .wpsd-wrapper-content {
  background: #EFFAFF;
}

.wpsd-master-wrapper.wpsd-template-2 .wpsd-wrapper-content .wpsd-donate-button {
  background: #008B8B;
}

.wpsd-master-wrapper.wpsd-template-2 .wpsd-wrapper-content .wpsd-text-field{
  border-color: #008B8B;
}

.wpsd-master-wrapper.wpsd-template-2 .wpsd-wrapper-content #wpsd-donation-form-id #wpsd_donate_other_amount {
  border-color: #008B8B;
}


/*=============================
Template 3
===============================*/

.wpsd-master-wrapper.wpsd-template-3 {
  box-shadow: 0 3px 20px #87CEFA;
}

.wpsd-master-wrapper.wpsd-template-3 .wpsd-wrapper-header {
  background: #1E90FF;
  background: -moz-linear-gradient(top, #1E90FF 0%, #87CEFA 100%);
  background: -webkit-linear-gradient(top, #1E90FF 0%, #87CEFA 100%);
  background: linear-gradient(to bottom, #1E90FF 0%, #87CEFA 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1E90FF', endColorstr='#87CEFA', GradientType=1);
}

.wpsd-master-wrapper.wpsd-template-3 .wpsd-wrapper-content {
  background: #F1FEFF;
}

.wpsd-master-wrapper.wpsd-template-3 .wpsd-wrapper-content .wpsd-donate-button {
  background: #1E90FF;
}

.wpsd-master-wrapper.wpsd-template-3 .wpsd-wrapper-content #wpsd-donation-form-id #wpsd_donate_other_amount {
  border-color: #1E90FF;
}

/*=============================
Template 4
===============================*/

.wpsd-master-wrapper.wpsd-template-4 {
  box-shadow: 0 3px 20px #DEB887;
}

.wpsd-master-wrapper.wpsd-template-4 .wpsd-wrapper-header {
  background: #DEB887;
  background: -moz-linear-gradient(top, #DEB887 0%, #FFDEAD 100%);
  background: -webkit-linear-gradient(top, #DEB887 0%, #FFDEAD 100%);
  background: linear-gradient(to bottom, #DEB887 0%, #FFDEAD 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#DEB887', endColorstr='#FFDEAD', GradientType=1);
}

.wpsd-master-wrapper.wpsd-template-4 .wpsd-wrapper-content {
  background: #FFF8DC;
}

.wpsd-master-wrapper.wpsd-template-4 .wpsd-wrapper-content .wpsd-donate-button {
  background: #DEB887;
}

.wpsd-master-wrapper.wpsd-template-4 .wpsd-wrapper-content #wpsd-donation-form-id #wpsd_donate_other_amount {
  border-color: #DEB887;
}


/* ==== Custom Radio === */
.wpsd_radio_con{
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.wpsd_radio_con input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.wpsd_radio_con .label_text {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #c8c8c8;
  border: solid transparent 1px;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 200ms;
}

/* On mouse-over, add a grey background color */
.wpsd_radio_con:hover input ~ .label_text {
  background-color: #a4a4a4;
}

/* When the checkbox is checked, add a blue background */
.wpsd_radio_con input:checked ~ .label_text {
  background-color: #2196F3;
  color: #fff;
}
.other_amount_radio_con{
  width: 100%;
}
.other_amount_radio_con .label_text{
  display: block;
  width: 100%;
  margin: 0px;
}

.wpsd_radio_btn_con .label_text{
  padding: 18px;
}
#card-element{
  background-color: #fff;
  padding: 20px 2px;
  border: solid 1px #bebdbd;
}
.wpsd_card_label_con{
  font-size: 16px;
  text-align: left;
  padding-bottom: 0;
}
body.rtl .wpsd_card_label_con{
  text-align: right;
}

.wpsd-donation-message-con{
  transition: all 0.3s linear;
}
.message-hidden{
  height: 0px;
  padding: 0;
  transition: all 0.3s linear;
}

.wpsd_card_agreement{
  font-size: 13px;
  font-style: italic;
  margin: 0px;
}

/*=============================
    Responsive CSS
===============================*/

@media(max-width:991px) {
  .wpsd-master-wrapper .wpsd-wrapper-content {
      padding: 30px 10px;
  }
}

@media(max-width:767px) {
  .wpsd-master-wrapper .wpsd-wrapper-content {
      padding: 30px 15px;
  }
}


/*  */